<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">

            <div class="card-body">


                {{ form_start(sponsorForm) }}
                {{ form_widget(sponsorForm) }}

                <div class="mt-3 d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-primary btn-sm font-weight-medium auth-form-btn">
                        Publier
                    </button>
                </div>
                {{ form_end(sponsorForm) }}
            </div>
        </div>
    </div>
</div>
</div>